body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.custom-navbar {
    border-bottom: 1px solid rgba(33, 37, 41, .1);
    background-color: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.custom-navbar .navbar-brand {
    text-transform: uppercase;
    color: #fff;
}

.custom-navbar .navbar-brand:hover {
    color: #17a2b8;
}

.custom-navbar .navbar-nav>li.nav-item>a.nav-link, .custom-navbar .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

.custom-navbar .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #17a2b8;
}

@media (min-width: 992px) {
    .custom-navbar {
        border-color: transparent;
        background-color: transparent;
    }
    .custom-navbar.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, .1);
        background-color: rgba(0,0,0,1);
    }

    .custom-navbar .navbar-brand {
        color: #fff;
    }

    .custom-navbar.navbar-shrink .navbar-brand {
        color: #D2D2D2;
    }

    .custom-navbar .navbar-nav>li.nav-item>a.nav-link {
        padding: .5rem 1rem;
    }

    .custom-navbar .navbar-nav>li.nav-item>a.nav-link, .custom-navbar .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #fff;
    }

    .custom-navbar.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, .custom-navbar.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #D2D2D2;
    }

    .custom-navbar.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover, .custom-navbar.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #17a2b8;
    }
}

.mastHead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url('../laptop (2).jpg');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}

@media (min-width: 992px) {
    .mastHead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.header-container {
    height: 100vh;
}

.mastHead h1 {
    font-size: 2rem;
}

.mastHead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mastHead p {
    font-weight: 300;
    font-style: italic;
}

.text-faded {
    color: rgba(255, 255, 255, .7);
}

@media (min-width: 992px) {
    .mastHead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .mastHead h1 {
        font-size: 4rem;
    }
}

@media (min-width: 768px) {
    .mastHead p {
        font-size: 1.5rem;
    }
}